html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #192135;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/back.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5; /* Ajuste o nível de opacidade, entre 0 (transparente) e 1 (opaco) */
    z-index: -1; /* Certifica-se de que fique atrás do conteúdo */
}

.div-erro{

}

